<div class="page-container">
  <h1>Chi Siamo</h1>
  <p>
    Benvenuti nel concessionario Patti, un luogo dove la passione per le auto incontra la professionalità e l'esperienza.
    Dal 2024, ci impegniamo a offrire ai nostri clienti solo le migliori auto, selezionate con cura e garantite per offrire
    un'esperienza di guida senza pari.
  </p>
  <p>
    Il nostro team è composto da esperti del settore, pronti a guidarvi nella scelta del veicolo perfetto per le vostre esigenze,
    offrendo consulenza personalizzata e un servizio clienti impeccabile.
  </p>
</div>